/make/output
/make/terminal.cscope_file_list
/make/terminal.depend
/make/terminal.layout
/make/file2str/output
/make/file2str/file2str.cscope_file_list
/make/file2str/file2str.layout
/make/file2str/file2str.depend
/make/script/*.ini
